<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./../../bower_components/app-layout/app-layout.html">
<link rel="import" href="./../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="./../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="./../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="./../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="./../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="./../../bower_components/app-layout/demo/sample-content.html">
<link rel="import" href="./../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="./../../bower_components/paper-badge/paper-badge.html">
<link rel="import" href="./../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="./../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="./../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="./my-drawer.html">
<link rel="lazy-import" href="../pages/page-create.html"> 
<dom-module id="my-layout">
    <template>
        <style>
            .toolbar {
                background-color: #232323;
                color: #fff;
                /* box-shadow: 2px 2px 2px #888888; */
            }

            app-drawer {
                --app-drawer-content-container: {
                    background-color: #1C1C1C;
                    color: #fff;
                }
            }

            paper-progress {
                width: 100%;
                --paper-progress-active-color: #ff2828;
                --paper-progress-container-color: #232323;
                --paper-progress-indeterminate-cycle-duration: 20s;
                /* --paper-progress-secondary-color: #232323;  */
            }

            app-drawer-layout {
                --app-drawer-layout-content-transition: margin 0.2s;
            }

            .red {
                --paper-badge-background: #ff2828;
                --paper-badge-margin-bottom: -10px;
                --paper-badge-margin-left: -5px;
                --paper-badge-height: 18px;
                --paper-badge-width: 18px;
            }

            .drawer-content {
                margin-top: 80px;
                height: calc(100% - 80px);
                overflow: auto;
            }

            #alignedDialog {
                margin: 0;
                width: 20%;
                height: auto;
                background-color: #1C1C1C;
                color: #fff;
            }
            paper-icon-item{
                height: 20px;
                margin: 5px;
            }
            paper-icon-item:hover{
                cursor: pointer;
                background-color: #232323; 
            }
             paper-icon-item{
                --paper-item-focused:{
                    color:#ff2828;
                    /* background-color: #232323  */
                }
                --paper-item-focused-before: {
                    opacity: 0;
                };
            }
            span{
                color: #fff;
            }
            /* paper-item-body{
                --paper-item-body-two-line-min-height:0px;
                --paper-item-body-three-line-min-height:0px;
            } */
        </style>

        <app-header-layout>
            <app-header fixed effects="waterfall" slot="header">
                <paper-progress value="10" indeterminate bottom-item></paper-progress>
                <app-toolbar class="toolbar">
                    <paper-icon-button icon="menu" on-tap="toggleDrawer"></paper-icon-button>
                    <div main-title>My app</div>
                    <paper-icon-button id="notification" icon="social:notifications"></paper-icon-button>
                    <paper-badge for="notification" label="4" class="red">
                    </paper-badge>
                    <paper-icon-button id="btnDetail" icon="icons:more-vert" on-tap="opeDialog"></paper-icon-button>
                    <!-- <paper-icon-button icon="close"></paper-icon-button>  -->
                </app-toolbar>
            </app-header>
            <app-drawer-layout id="drawerLayout">
                <app-drawer slot="drawer">
                    <div class="drawer-content">
                        <my-drawer id="drawer"></my-drawer>
                    </div>
                </app-drawer>

                <iron-pages selected="{{path}}" attr-for-selected="name">
                    <div name="/create">
                         <page-create></page-create>
                    </div>
                </iron-pages>  
                 <!-- <page-create></page-create> -->
                   
                   <!-- <sample-content size="100"></sample-content>    -->

            </app-drawer-layout>
        </app-header-layout>
        <paper-dialog id="alignedDialog" no-overlap horizontal-align="right" vertical-align="top">
             <!-- <h2>Aligned dialog</h2>  -->
             <!-- <paper-dialog-scrollable>  -->
                  <!-- <div role="listbox">   -->
                     <paper-icon-item>
                        <iron-icon icon="social:person" slot="item-icon"></iron-icon>
                        <paper-item-body two-line>
                            <span>Profile</span>
                        </paper-item-body>
                    </paper-icon-item> 
                        <paper-icon-item>
                        <iron-icon icon="icons:settings" slot="item-icon"></iron-icon>
                        <paper-item-body two-line>
                            <span>Setting</span>
                        </paper-item-body>
                    </paper-icon-item> 
                    <paper-icon-item>
                        <iron-icon icon="icons:exit-to-app" slot="item-icon"></iron-icon>
                        <paper-item-body two-line>
                            <span>Sign-out</span>
                        </paper-item-body>
                    </paper-icon-item> 
                  <!-- </div>   -->
             <!-- </paper-dialog-scrollable>  -->
        </paper-dialog>
    </template>

    <script>
        /**
     * @customElement
     * @polymer
     */
        class MyLayout extends Polymer.Element {
            static get is() { return 'my-layout'; }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'my-layout'
                    },
                    element: {
                        type: Object,
                        value: {}
                    },
                    path:{
                        type:String,
                        value:'create'
                    }
                };
            }
            ready() {
                super.ready();
                this.element.dailog = this.$.alignedDialog;
                this.element.button = this.$.btnDetail;
                this.$.drawer.addEventListener('chang-page', e => this.changePage(e));
            }
            toggleDrawer() {
                var drawerLayout = this.$.drawerLayout;
                if (drawerLayout.forceNarrow || !drawerLayout.narrow) {
                    drawerLayout.forceNarrow = !drawerLayout.forceNarrow;
                } else {
                    drawerLayout.drawer.toggle();
                }
            }
            opeDialog() {
                this.element.dailog.positionTarget = this.element.button;
                this.element.dailog.open();
            }
            changePage(e){
                console.log('change Page',e.target.route.path);
                this.path = e.target.route.path;
                Polymer.importHref(this.resolveUrl('../pages/page-create.html'));

            }
        }

        window.customElements.define(MyLayout.is, MyLayout);
    </script>
</dom-module>